body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    color: 000; 
     background: url('./../img/fat_rabbit___background_day_51474.png') no-repeat center top / contain;
    background-position-y: 120px;
    background-color: #5f82b9;
}

*{
    box-sizing: border-box;
}

p{
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

ul, li {
    display: block;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.header {
    background: #eceff0;
    width: 100%;
    height:125px;
    /* background-size: cover; */
    /* background:top; */
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid__carrots{
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin: 0 auto 75px; 
    height: 450px;
}

.carrot__inner__text {
    font-family: Rubik;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #1d1706;
}

.text__stars {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

.grid__stars {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin: 0 auto;
}

.box__text{
    margin-bottom: 75px;
    word-wrap: break-word;
    width: 645px;
    height: 95px;
}
.carrots_h2{
    font-family: Roboto;
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fffefe;
}

.button_box{
    display: flex;
    height: 78px;
    width: 545px;
}

.carrot__button__green {
    font-family: Roboto;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
    width: 350px;
    background-image: linear-gradient(0.0deg, #93c52c -53%, #b5e252 155%);
    border: 3px solid #ffffff;
    box-shadow: 0px 10px 81px 0px rgba(0,0,0,0.68);
    border-radius: 5px;
}

.carrot__button__yellow {
    font-family: Roboto;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #082a36;
    width: 190px;
    border-left: none;
    background-image: linear-gradient(0.0deg, #fee651 -90%, #fef58e 155%);
    border: 3px solid #ffffff;
    box-shadow: 0px 10px 81px 0px rgba(0,0,0,0.68);
    border-radius: 5px;
}




.jackpot {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 255px;
    height: 124px;
    background: #dcdedf;
    margin-left: 30px;
    margin-right: 30px;
}
 .jackpot img {
    width: 59px;
    height: 45px;
 }
.jackpot p {
    margin-left: 25px;
    font-family: Roboto;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #62351a;
}
.logo_container {
    width: 540px;
}

.logo_container img{
    display: block;
    margin: 0 auto; 
   
}
.button_play {
    width: 255px;
    height: 71px;
    background-image: linear-gradient(94.0deg, #ff8015 0%, #fd561d 99%);
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.25);
    border-radius: 5px;
    font-family: Roboto;
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    text-transform: uppercase;
    color: #eceff0;
    border: none;
    margin-left: 30px;
    margin-right: 30px;
} 

.bonus .container{
    background: #fff;
    height: 425px;
    border-radius: 22px;
}

.inner__text {
    margin-bottom: 25px;
}

.statistics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px;
    grid-gap: 30px;
    margin-right: 30px;
    margin-left: 30px;
}

.statistics div {
    background-color: #dcdedf;
    width: 255px;
    height: 50px;
    box-shadow: 0px 10px 76px 0px rgba(255,101,30,0.18);
}

.statistics div p {
    text-align: center; 
}

.frame_bonus_container {
    display: flex;
}

.frame_bonus_container .frame {
    margin-left: 100px;
    margin-top: 50px;
}

.frame img {
    margin-bottom: 45px;
    filter: drop-shadow(0px 10px 20px 0px rgba(255,101,30,0.25));
}

.bonus_button {
    display: grid;
    height: 200px;
    margin: 75px 90px;
    align-content: center;
}

.bonus_button p{
    font-family: Roboto;
    font-size: 45px;
    line-height: 50px;
    font-weight: 700;
    text-transform: uppercase;
    color: #5b84c7;
}
.bonus_button p .lower_case {
    text-transform: none;
}
/* .frame h2{

    font-family: Rubik;
    font-size: 48px;
    line-height: 25px;
    font-weight: 700;
    text-transform: uppercase;
    color: #bbc0c3;
} */

.about__content {
    text-align:justify;
    height: 225px;
    margin: 50px auto 0px;
}

.about_header {
    text-align:center;
    width: 1120px;
    font-family: Roboto;
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0 auto;
    
}

.about__p {
    width: 1110px;
    font-family: Roboto;
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    color: #ffffff;
    padding: 15px 0 0;
    margin: 0 auto;
}

.table {
    display: grid;
    padding: 25px;
    margin: 0px 0px 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px 30px;
    height: 325px;
    border: 3px solid #ffffff;
    border-radius: 22px;
}

.table__element {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(94.0deg,#fd561d 0%, #ff8015 99%);
}

.table__window {
    width: 120px;
    height: 75px;
    background: #fff;
}

.table__text{
    color: #fff;
    font-family: Roboto;
    font-size: 26px;
    line-height: 40px;
    font-weight: 700;
}

.btn {
    width: 180px;
    height: 50px;
    text-transform: uppercase;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.25);
    border-radius: 5px;
    font-family: Roboto;
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    border: none;
    background-image: linear-gradient(94.0deg,#fef898 0%, #fee341 99%);
}

.video__review {
    display: flex;
    flex-direction: column ;
    background: #ffffff;
    height: 600px;
    border-radius: 22px;
}

.video {
    display: flex;
}

.screen {
    background: black;
    margin: 25px 30px;
    width: 537px;
    height: 300px;
    border: 1px solid #ffe444;
}

.review__and__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.h2__review {
    font-family: Roboto;
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    color: #7a5095;
    text-transform: none;
}

.cells {
    display:grid;
    padding: 0 30px 30px;
    gap: 25px;
    grid-template-columns: repeat(6, 1fr);
}

.cell {
    font-family: Roboto;
    font-size: 15px;
    line-height: 25px;
    font-weight: 700;
    vertical-align: center;
    text-align: center;
    align-self: center;
    justify-self: center;
    width: 159px;
    height: 100px;
    background: #eeebeb;
    color: #fd5e1c;
}

.text__color__purple {
    color: #80589a;
}

.slider h2 {
    margin: 45px 20px 25px;
    font-family: Roboto;
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.slider p {
    font-family: Roboto;
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 25px;
}

.big__image {
    width: 1170px;
    height: 275px;
}

.big__image__two {
    background: url("../img/pryamokutnik_11_46511 (1).png") no-repeat center top / contain;
    width: 1112px;
    height: 248px;
    margin: 0 auto;
}

.box__p {
    text-align: justify;
    width: 1110px;
    height: 67px;
    margin: 0 auto;
}

.box__big__image{
    width: 605px;
    height: 162px;
    align-items: center;
    margin: 34px auto; 
}

.info_one {
    font-family: Rubik;
    font-weight: 400;
    color: #ffffff;
}

.info_one h2 { 
    font-size: 35.1px;
    line-height: 50px;
    text-transform: uppercase;
    margin: 65px auto 0px;
    padding: 0px 60px 0px;
}

.info_one p {
    font-size: 15.1px;
    line-height: 25px;
}

.info_two {
    font-family: Rubik;
    font-weight: 400;
    color: #ffffff;
    margin: 0 auto;
}

.info_two h2{
font-size: 30.1px;
line-height: 50px;
text-transform: uppercase;
margin: 35px auto 0px;
}

.info_two p {
font-size: 15.1px;
line-height: 25px;
}

.dark__image__box{
    background: url("./../img/pryamokutnik_10_46066.png");
    width: 1110px;
    height: 151px;
    margin: 0 auto;
    align-items: center;
}

.dark__image h2 {
    font-family: Rubik;
    font-size: 40.1px;
    line-height: 50px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
}

/* .dark__image p {
    
} */

.inner__header__text h2{
    font-family: Rubik;
    font-size: 40.1px;
    line-height: 50px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
}

.inner__header__text p{
    font-family: Rubik;
    font-size: 15.1px;
    line-height: 25px;
    font-weight: 400;
    color: #ffffff;
}

.list_grid {
    display: grid;
    align-content: center;
    justify-content: start;
}

li {
   
    list-style-image: url("./../img/carrot_51365.png");
    text-align: justify;
    font-family: Rubik;
    line-height: 25px;
    font-size: 15.1px;
    color: #ffffff;
    font-weight: 400;
    height: 24px;
    width:auto;
    /* font-family: Rubik;
    font-size: 15.1px;
    line-height: 45px;
    font-weight: 400;
    color: #ffffff;
    
    width: 30px;
    height: 24px;  */
    display: list-item;
    margin: 10px;
    list-style-type: decimal;
}

.carrot_text {
    height: 24px;
    line-height: 24px;
}

.table__two__grid {
    display: grid;
    gap: 25px;
}

.table__element .two {
    border: 3px solid white;
}

.table__window .two {
    width: 184px;
    height: 75px;
}

.faq {
    width: 80px;
    height: 34px;
    text-align: center;
    margin: 35px auto;
    font-family: Rubik;
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.light_blue_h2 {
    text-align: justify;
    background-image: linear-gradient(270.0deg, #5887d5 -38%, #82a7e4 138%);
    padding: 10px 50px;
}

.light_blue_h2 h2 {
    font-family: Roboto;
    font-size: 30px;
    line-height: 50px;
    font-weight: 700;
    color: #ffffff;
    text-transform: none;
}

.light_blue_p {
    text-align: justify;
    background: #6087c8;
    font-family: Rubik;
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    color: #ffffff;
    padding: 30px;
}

.blue h2 {
    background: #245bb6;
    color: #fff;
    padding: 10px 50px;
    margin-top: 25px;
}

.blue h2:last-child{
margin-bottom: 50px;
}

.footer {
    width: 100%;
    height: 298px;
    background: #2a497d;
}

.logo__footer {
    width: 414px;
    height: 112px;
    margin: 40px auto;
}

.footer__text {
    text-align: justify;
    font-family: Roboto;
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    color: #ffffff;
    margin: 30px 30px 50px;
}


